.texts {
  img {
  	width: 100px;
  	height: 90px;
  }
	display: flex;
	justify-content: space-around;
	background-color: gray;
	color: #fff;
	padding: 20px;
}


.text1,
.text2,
.text3,
.text4,
.text5,
.text6 {
	flex: 1;
	padding: 10px;
}

.text1 p,
.text2 p,
.text3 p,
.text4 p,
.text5 p,
.text6 p {
	margin: 5px 0;
}
